<!-- <form #monForm (ngSubmit)="submitForm(monForm)">
  <div>
    <label>Nom : </label>
    <input type="text" name="lastName" required="true" pattern="[a-z]+" ngModel />
  </div>
  <div>
    <label>Prénom : </label>
    <input type="text" name="firstName" required="true" ngModel/>
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>
<div>
  {{result}}
</div> -->

<!-- Avec ReactiveFormsModule -->
<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div>
    <label>Nom : </label>
    <input type="text" formControlName="lastName" />
  </div>
  <div>
    <label>Prénom : </label>
    <input type="text" formControlName="firstName"/>
  </div>
  <div>
    <button type="submit">Valider</button>
  </div>
</form>